.forms {
  &:not(:last-child) {
    margin-bottom: 20px;
    color: black;
  }
  display: block;
  &__title {
    margin-bottom: 8px;
    color: #344054;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  &__input {
    height: 44px;
    width: 100%;
    display: block;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    background: transparent;
  }
}
.forms__input-svg {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.forms__input-wrapper {
  position: relative;
}
